.author {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto;
  column-gap: 1rem;

  &__avatar {
    border-radius: 100%;
    width: 2rem;
    border: .125rem solid hsl(0, 0%, 81%);
    grid-row: 1 / span 2;
    grid-column: 1 / span 1;
  }
}