.card {
  box-sizing: border-box;
  width: calc(100% - 3rem); 
  margin: 1.5rem auto;
  background-color: var(--bg-color);
  border-radius: .5rem;
  padding: 1.25rem 1.5rem 2rem;

  &__text {
    margin: 0;
    color: hsl(0, 0%, 81%);
    font-weight: 500;
    line-height: 1.25;
  }

  &__bold_text {
    margin: 1rem 0;
    color: hsl(0, 0%, 100%);
    font-size: 1.25rem;
    line-height: 1.25;
  }
}